<div class="row mx-3">
    <div class="col-md-6">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/admin">Home</a>
              </li>
              <li class="breadcrumb-item active">
                <a href="javascript:void(0);">Users</a>
            </ol>
          </nav>
    </div>
    <div class="col-md-6 text-end"><a routerLink="add-user" routerLinkActive="router-link-active"  class="btn btn-primary"><i class="bi bi-plus-circle-fill mx-1"></i>New</a></div>
  
</div>
<div class="row">
<div class="col-md-12 mt-3">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card card-flush">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <thead class="table">
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-light" *ngFor="let user of users">
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <span *ngIf="user.isAdmin">Admin</span>
                                    <span *ngIf="!user.isAdmin">Customer</span>
                                </td>
                                <td class="text-center">
                                    <a class="text-warning menu-icon tf-icons" [routerLink]="['/admin/users/update-user/',user._id]" routerLinkActive="router-link-active" ><i class="bi bi-pencil-square"></i></a>
                                    <a class="text-danger menu-icon tf-icons" [routerLink]="['/admin/users/update-category/', user._id]"><i class="bi bi-trash-fill"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                
            </div>
        </div>

    </div>
    
    
</div>
</div>

